div {
    background-color: #1b1c1d;
    border: 2px #1b1c1d;
}

h1 {
    color: #69c6f4;
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 100px;
}